# ─── Database ────────────────────────────────────────────────────────────────
POSTGRES_PASSWORD=change-in-production
DB_HOST=db
DB_PORT=5432
DB_NAME=inventree
DB_USER=inventree
DB_PASSWORD=$POSTGRES_PASSWORD
DATABASE_URL=postgresql://inventree:change-in-production@127.0.0.1:5433/inventree

# ─── Cache ───────────────────────────────────────────────────────────────────
REDIS_PASSWORD=change-in-production
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_URL=redis://:$REDIS_PASSWORD@$REDIS_HOST:$REDIS_PORT

# --- Observability ───────────────────────────────────────────────────────────
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

# --- Security ───────────────────────────────────────────────────────────────-
OBFUSCATION_KEY=pWJ9S19XeZbSv4iWgc5CcRNJm7tCA+pK5ZMrxBxrRhk

# ─── API ─────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=8257

SYSTEM_NAME=InvenTree Systems
API_URL=http://localhost:8257

JWT_ACCESS_SECRET=change-in-production
JWT_ACCESS_TTL=1d
JWT_REFRESH_SECRET=change-in-production
JWT_REFRESH_TTL=7d
JWT_UTIL_SECRET=change-in-production
JWT_ISSUER="INVENTREE_BACKEND"
JWT_AUDIENCE="INVENTREE_CLIENTS"